#goHome{
    margin-top: 5rem;
    
}
i{
    color: yellow;
    font-size: 3rem;
}

li{
    list-style: none;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: .5rem;
    font-weight: 500;
}